/* body{
    background-color: lightblue;
}

.head1
{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.head2
{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;

} */